.main {
  margin-top: 115px;
  display: flex;
  justify-content: center;
  height: 585px;
  overflow: visible;
}
.sales-block {
  background-color: antiquewhite;
  height: 585px;
  width: 450px;
  margin: 17px;
  float: left;
}