.main {
  margin-top: 115px;
  display: flex;
  justify-content: center;
  height: 585px;
  overflow: visible;
}
.sales-block {
  background-color: antiquewhite;
  height: 585px;
  width: 450px;
  margin: 17px;
  float: left;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.item-info {
  width: 100%;
  height: 425px;
}
.shikyeh-background {
  background-image: url('../img/shikyeh2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.yakshik-background {
  background-image: url('../img/yakshik1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.mahkuelee-background {
  background-image: url('../img/shikyeh2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.item-info i {
  float: right;
  margin: 8px;
}
/* Add a @media where the blocks can go up and down */