/* top bar css code start */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.banner {
  overflow: hidden;
}
.banner img {
  float: center;
  display: block;
  align-items: center;
  height: 64px;
  width: 100%;
}
.top-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0;
  margin: 0;
}
.navbar {
  background-color: rgb(5, 8, 172);
  height: 46px;
  overflow: visible;
}
.scrolling {
  box-shadow: 0 1px 20px #bbb;
}
.navbar span {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px 14px 10px 10px;
  text-decoration: none;
  font-size: 20px;
}
.navbar a {
  float: right;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 16px 18px 10px 10px;
  text-decoration: none;
  font-size: 17px;
} 
.navbar img {
  float: left;
  display: block;
  align-items: center;
  height: 46px;
  width: 46px;
}
.navbar a:hover {
  background: rgb(2, 169, 235);
  color: rgb(255, 255, 255);
}
.dropdown {
  float: right;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 17px;  
  border: none;
  outline: none;
  color: white;
  padding: 16px 18px 10px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(2, 169, 235);
  overflow: visible;
} 
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
} 
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
} 
.dropdown-content a:hover {
  background-color: #ddd;
}  
.dropdown:hover .dropdown-content {
  display: block;
}
@media (max-width : 400px) {
  .navbar img {
    display: none;
  }
}
/* top bar css code end */

